[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
jsonpath = "*"
itchat = "*"
pillow = "*"
xmltodict = "*"
beautifulsoup4 = "*"
lxml = "*"
html5lib = "*"
pyquery = "*"

[requires]
python_version = "3.7"
